<div class="container p-4 mt-5 rounded form bg-theme-neutral">
  <%= form_with url: admin_login_path, method: :post do |f| %>
    <h1 class="mb-4 text-center">Login to Admin</h1>
    <div class="mb-3 row">
      <%= f.label :username, 'Username:', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= f.label :password, 'Password:', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary mt-4" %>
  <% end %>
</div>
