<%= form_with model: @experience_group, url: @experience_group.persisted? ? admin_experience_group_path(@experience_group) : admin_experience_groups_path do |f| %>
    <div class="mb-3">
      <%= f.label :profile_id, "User Profile Id", class: "form-label" %>
      <% if is_readonly %>
        <%= f.text_field :profile_id, class: "form-control", readonly: is_readonly %>
      <% else %>
        <%= f.collection_select :profile_id, Profile.for_user(@current_user), :id, :id, {}, { class: "form-select" } %>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :quote, "Quote", class: "form-label" %>
      <%= f.text_field :quote, class: "form-control", readonly: is_readonly %>
    </div>

    <div class="mb-3">
      <%= f.label :quote_author, "Quote Arthor", class: "form-label" %>
      <%= f.text_field :quote_author, class: "form-control", readonly: is_readonly %>
    </div>

    <div class="justify-content-between d-flex">
      <% if is_readonly %>
        <%= link_to "Edit", edit_admin_experience_group_path(@experience_group), class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", @experience_group.persisted? ? admin_experience_group_path(@experience_group) : admin_experience_groups_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>