<div class="container p-4 mt-5 rounded form bg-theme-neutral">
  <h1 class="mb-4 text-center">Experience Groups</h1>
  <% if @experience_groups.present? %>
    <table class="table border-primary table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Profile ID</th>
          <th scope="col">Quote</th>
          <th scope="col"># of Exp.</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @experience_groups.each do |experience_group| %>
          <td scope="col"><%= experience_group.id %></td>
          <td scope="col"><%= experience_group.profile_id %></td>
          <td scope="col"><%= truncate_text(experience_group.quote, 30) %></td>
          <td scope="col"><%= 0 %></td>
          <td scope="col">
            <%= link_to 'View', admin_experience_group_path(experience_group), class: "btn btn-primary" %>
            <%= link_to 'Delete',
              admin_experience_group_path(experience_group),
              class: "btn btn-danger",
              method: :delete,
              data: { confirm: "This will permanately remove the experience group. Are you sure?" }
            %>
          </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are currently no experience groups for this user</p>
  <% end %>
  <%= link_to "New", new_admin_experience_group_path, class: "btn btn-primary" %>

</div>