<%= form_with model: @user, url: admin_user_path(@user) do |f| %>
    <div class="mb-3">
      <%= f.label :name, "Name", class: "form-label" %>
      <%= f.text_field :name, class: "form-control", readonly: is_readonly %>
    </div>
    <div class="mb-3">
      <%= f.label :title, "Title", class: "form-label" %>
      <%= f.text_field :title, class: "form-control", readonly: is_readonly %>
    </div>
    <div class="mb-3">
      <%= f.label :username, "Username", class: "form-label" %>
      <%= f.text_field :username, class: "form-control", readonly: is_readonly %>
    </div>
    <% if !is_readonly %>
      <div class="mb-3">
        <%= f.label :password, "Password", class: "form-label" %>
        <%= f.password_field :password, class: "form-control", readonly: is_readonly %>
        <%= tag.div("Leave blank to keep current password", class: "form-text") %>
      </div>
    <% end %>
    <div class="justify-content-between d-flex">
      <% if is_readonly %>
        <%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", admin_user_path(@user), class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>