<!DOCTYPE html>
<html>
  <head>
    <title>Randy Layne <%= @title.present? ? "| #{@title}" : "" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="position-relative" data-bs-spy="scroll" data-bs-target="#navigation" data-bs-offset="0" tabindex="0">
    <%= yield %>
  </body>
</html>
